/*
    Utility classes are added to the markup to either reset or override styling for one-off cases on components.
    Should there be multiple changes to a component, add styling to the component itself rather than using a utility class.
*/
/* Margin */
.u-margin--none {
  margin: 0 !important;
}
.u-marginTop--none {
  margin-top: 0 !important;
}
.u-marginRight--none {
  margin-right: 0 !important;
}
.u-marginBottom--none {
  margin-bottom: 0 !important;
}
.u-marginLeft--none {
  margin-left: 0 !important;
}
.u-margin--xs {
  margin: 5px !important;
}
.u-margin--sm {
  margin: 10px !important;
}
.u-margin--md {
  margin: 15px !important;
}
.u-margin--lg {
  margin: 20px !important;
}
.u-margin--xl {
  margin: 25px !important;
}
.u-marginTop--xs {
  margin-top: 5px !important;
}
.u-marginTop--sm {
  margin-top: 10px !important;
}
.u-marginTop--md {
  margin-top: 15px !important;
}
.u-marginTop--lg {
  margin-top: 20px !important;
}
.u-marginTop--xl {
  margin-top: 25px !important;
}
.u-marginRight--xs {
  margin-right: 5px !important;
}
.u-marginRight--sm {
  margin-right: 10px !important;
}
.u-marginRight--md {
  margin-right: 15px !important;
}
.u-marginRight--lg {
  margin-right: 20px !important;
}
.u-marginRight--xl {
  margin-right: 25px !important;
}
.u-marginBottom--xs {
  margin-bottom: 5px !important;
}
.u-marginBottom--sm {
  margin-bottom: 10px !important;
}
.u-marginBottom--md {
  margin-bottom: 15px !important;
}
.u-marginBottom--lg {
  margin-bottom: 20px !important;
}
.u-marginBottom--xl {
  margin-bottom: 25px !important;
}
.u-marginLeft--xs {
  margin-left: 5px !important;
}
.u-marginLeft--sm {
  margin-left: 10px !important;
}
.u-marginLeft--md {
  margin-left: 15px !important;
}
.u-marginLeft--lg {
  margin-left: 20px !important;
}
.u-marginLeft--xl {
  margin-left: 25px !important;
}
/* Padding */
.u-padding--none {
  padding: 0 !important;
}
.u-paddingTop--none {
  padding-top: 0 !important;
}
.u-paddingRight--none {
  padding-right: 0 !important;
}
.u-paddingBottom--none {
  padding-bottom: 0 !important;
}
.u-paddingLeft--none {
  padding-left: 0 !important;
}
.u-padding--xs {
  padding: 5px !important;
}
.u-padding--sm {
  padding: 10px !important;
}
.u-padding--md {
  padding: 15px !important;
}
.u-padding--lg {
  padding: 20px !important;
}
.u-padding--xl {
  padding: 25px !important;
}
.u-paddingTop--xs {
  padding-top: 5px !important;
}
.u-paddingTop--sm {
  padding-top: 10px !important;
}
.u-paddingTop--md {
  padding-top: 15px !important;
}
.u-paddingTop--lg {
  padding-top: 20px !important;
}
.u-paddingTop--xl {
  padding-top: 25px !important;
}
.u-paddingRight--xs {
  padding-right: 5px !important;
}
.u-paddingRight--sm {
  padding-right: 10px !important;
}
.u-paddingRight--md {
  padding-right: 15px !important;
}
.u-paddingRight--lg {
  padding-right: 20px !important;
}
.u-paddingRight--xl {
  padding-right: 25px !important;
}
.u-paddingBottom--xs {
  padding-bottom: 5px !important;
}
.u-paddingBottom--sm {
  padding-bottom: 10px !important;
}
.u-paddingBottom--md {
  padding-bottom: 15px !important;
}
.u-paddingBottom--lg {
  padding-bottom: 20px !important;
}
.u-paddingBottom--xl {
  padding-bottom: 25px !important;
}
.u-paddingLeft--xs {
  padding-left: 5px !important;
}
.u-paddingLeft--sm {
  padding-left: 10px !important;
}
.u-paddingLeft--md {
  padding-left: 15px !important;
}
.u-paddingLeft--lg {
  padding-left: 20px !important;
}
.u-paddingLeft--xl {
  padding-left: 25px !important;
}
/* Borders */
.u-border--none {
  border: none !important;
}
.u-borderTop--none {
  border-top: none !important;
}
.u-borderRight--none {
  border-right: none !important;
}
.u-borderBottom--none {
  border-bottom: none !important;
}
.u-borderLeft--none {
  border-left: none !important;
}
.u-borderRadius--none {
  border-radius: 0 !important;
}
/* Text */
.u-text--titlecase {
  text-transform: capitalize;
}
.u-text--uppercase {
  text-transform: uppercase;
}
.u-text--lowercase {
  text-transform: lowercase;
}
.c-mainBody {
  font-family: 'Open Sans', sans-serif !important;
}
.c-projectLink {
  border: 4px solid lightgray;
}
